<div>
    <div style="height: 50px; background-color: bisque;">header</div>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item  [routerLink]="['/list']">
        <i nz-icon nzType="mail"></i>
        List
      </li>
      <li nz-menu-item [routerLink]="['/details']">
        <i nz-icon nzType="appstore"></i>
        Detail
      </li>
      <li nz-menu-item nzSelected [routerLink]="['/app4home']">
        <i nz-icon nzType="appstore"></i>
        app4
      </li>
      <li nz-menu-item [routerLink]="['/app3home']">
        <i nz-icon nzType="appstore"></i>
        app3
      </li>
      <li nz-submenu nzTitle="app4" nzIcon="setting">
        <ul>
          <li nz-menu-item [routerLink]="['/app4']">home</li>
          <li nz-menu-item [routerLink]="['/app4/page1']">page1</li>
        </ul>
      </li>
      <li nz-menu-item>

      </li>
    </ul>
    <!-- <zm-test></zm-test> -->
    <!-- <app-table></app-table> -->
    <router-outlet></router-outlet>
</div>
